.App {
  text-align: center;
  margin: 20px;
}



input[type="text"],
input[type="file"] {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

h1,
h2 {
  font-family: Arial, sans-serif;
}